<h1>New meeting</h1>


<%= simple_form_for @meeting do |f| %>
  <%= f.input :subject %>
  <%#= f.input :availability_id, as: :hidden, value: params[:availability_id]  %>
  <%= f.input :availability_id, as: :hidden, input_html: {value: params[:availability_id], include_hidden: true}  %>

  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>
