<!-- 1. Typescript
The website that connects
Public managers & Lawyers
Faster
Easier
Jurídico 1.0
 -->
<br>
<br>
<br>
<!-- <h1>Jurídico 1.0</h1> -->
<div class="css-typing text-center">
  <h2 class="line-1 text-center">We connect Managers & Lawyers</h2>
  <h2></h2>
</div>
<div id=container>
  <div id=flip>
    <div><div>FASTER</div></div>
    <div><div>SAFER</div></div>
    <div><div>EASIER</div></div>
  </div>
</div>

<!-- Typewriter em duas linhas
<div class="boxes d-flex justify-content-center text-center">
  <div class="css-typing text-center">
    <h2 class="line-1 text-center">We connect </h2>
    <h2 class="line-2 text-center">Managers & Lawyers</h2>
  </div>
  <div>

  </div>
</div> -->
