$dark-color: #41444b;
$med-color: #52575d;
$happy-color: #fddb3a;
$neutral-color: #f6f4e6;

.form-group {
  margin-bottom: 6px;
}

.form-inputs {
  width: 35%;
  line-height: 120%;
  text-align: left;
  margin-top: 10px;
  margin: auto;
  border-radius: 4px;
  background-color: $neutral-color;
  padding: 10px 20px 0px 20px;
}

label {
  display: inline-block;
  padding-bottom: 3px;
  margin: 0 0;
}

input[type=text], select {
  width: 100%;
  padding: 20px 10px;
  margin: 0 0;
  display: inline-block;
  border: 1px solid $med-color;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $happy-color;
  font-size: 18px;
  color: $dark-color;
  padding: 14px 5px;
  margin: 0 0 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions {
  width: 35%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: $neutral-color;
  padding: 0px 20px;
}

input[type=submit]:hover {
  font-size: 19px;
  font-style: bold;
  color: $happy-color;
  background-color: $dark-color;
}

.form-complement {
  width: 35%;
  line-height: 160%;
  text-align: left;
  margin: auto;
  border-radius: 5px;
  background-color: $neutral-color;
  padding: 10px 20px 0px 20px;  width: 35%;
}

.form-complement-new-availability {
  width: 80px;
  text-align: left;
  margin-left: 25%;
  border-radius: 5px;
  background-color: $neutral-color;
  padding: 10px 20px 0px 20px;
}

// teste carrinho

/* The side navigation menu */
.cart-container {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the cart-container */
}

/* The navigation menu links */
.cart-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.cart-container a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.cart-container .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the cart-container (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .cart-container {padding-top: 15px;}
  .cart-container a {font-size: 18px;}
}

.hide {
  display: none;
}

// .cart-container {
//   width: 1005px;
//   margin-bottom: 15px;
//   background-color: gainsboro;
//   box-shadow: 0 0 3px rgba($color: #858585, $alpha: 0.3);
// }

.cart-item {
  padding: 0 15px;
  color: white;
}

#cart-header {
  padding: 15px;
  color: white;
}

.item-info {
  margin: 0 5px;
}
