$font-size-nav: 1.6vw;
$font-size-nav-hov: 1.7vw;

$dark-color: #41444b;
$med-color: #52575d;
$happy-color: #fddb3a;
$neutral-color: #f6f4e6;

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $dark-color;
  margin: 0;
  padding: 12px 0px;
}

.navbar-left ul li {
  display: inline;
  list-style-type: none;
}

nav ul {
  margin: 0;
}

.navbar-left ul li i {
  color: $neutral-color;
  font-size: $font-size-nav;
  text-align: center;
  padding: 16px 0px 16px 50px;
  text-decoration: none;
}

.navbar-left ul li a {
  color: $neutral-color;
  font-size: $font-size-nav;
  text-align: center;
  padding: 16px 16px 16px 0px;
  text-decoration: none;
}

.navbar-left ul li a:hover {
  text-decoration: none;
  color: $happy-color;
  font-style: bold;
  font-size: $font-size-nav-hov;
  transition-delay: 250ms;
  transition: 400ms;
}

.navbar-right {
  position: absolute;
  right: 0px;
  color: $neutral-color;
  font-size: $font-size-nav;
  text-align: center;
  padding: 16px 16px 16px 0px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-right a {
  color: $neutral-color;
  font-size: $font-size-nav;
  text-align: center;
  padding: 16px 16px 16px 0px;
  text-decoration: none;
}

.navbar-right a:hover {
  text-decoration: none;
  color: $happy-color;
  font-style: bold;
  font-size: $font-size-nav-hov;
  transition-delay: 250ms;
  transition: 400ms;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: $dark-color;
  color: $neutral-color;
  padding: 10px 12px;
  font-size: $font-size-nav;
  border: 1px $med-color;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  top: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: $neutral-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: left;
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $dark-color;
  padding: 6px 20px 6px 10px;
  text-decoration: none;
  display: block;
  transition-delay: 250ms;
  transition: 400ms;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $happy-color;
  color: $dark-color;
}

#cont-reduce {
  font-size: 15px;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition-delay: 600ms;
  transition: 400ms;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $med-color;
  transition-delay: 200ms;
  transition: 250ms;
}

.dropbtn {
  margin: 0;
}
