// Graphical variables

@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
// @import "simple_calendar";

// O código de estilo do front está ainda todos neste arquivo e em CSS e não
 // SCSS para agilizar a fase de testes.

// Variáveis de cor provisória criadas para o projeto todo
// Variables in SCSS: https://sass-lang.com/documentation/variables

$dark-color: #41444b;
$med-color: #52575d;
$happy-color: #fddb3a;
$neutral-color: #f6f4e6;

.main {
  margin-bottom: 20px;
}

.spacer-main-footer {
  margin-top: 20px;
  // padding: 10px;
}

p {
  line-height: 1.2;
}
