<div class="alert alert-error">
  <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <% flash[:save_errors].each do |key, value| %>
        <li>
          <%= value %>
        </li>
      <% end %>
    </ul>
</div>
